@charset "UTF-8";

@media screen and (min-width: 768px){
    body{
        background-image: linear-gradient(to top, #49A09D, #5F2C82);
    }

    #login{
        width: 80vw;
        display: flex;
    }
    #imagem{
        width: 60%;
        height: 100vh;
    }
}

@media screen and (min-width: 992px){
    #login{
        width: 900px;
        flex-direction: row-reverse;
    }

    #formulario > h1{
        font-size: 2em;
    }

    #formulario > p{
        font-size: 1.2em;
    }
}